@import "tailwindcss";

@theme {
  --color-bg: #1a1a1a;
  --color-bg-dark: #121212;
  --color-text: #f5f5f5;
  --color-text-light: #a1a1a1;

  --color-pastel-red: #ff3b3b; /* 🔥 Saturated red */
  --color-pastel-orange: #ffaa3c; /* 🍊 Juicy orange */
  --color-pastel-green: #50f378; /* 🍏 Lime-mint burst */
  --color-pastel-blue: #509fff; /* 🔷 Your sky blue */
  --color-pastel-yellow: #ffef3c; /* 🍋 Bright lemon */
}
